Flask==3.1.2
flask-cors==6.0.2
frozenlist==1.8.0
google-api-core==2.28.1
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-cloud-core==2.5.0
google-cloud-firestore==2.22.0
google-cloud-pubsub==2.34.0
google-cloud-storage==3.7.0
google-cloud-tasks==2.20.0
google-cloud-logging
httpcore==1.0.9
httplib2==0.31.2
PyJWT==2.10.1
PyMySQL==1.1.2
redis==7.1.0
requests==2.32.5

